langgraph
langgraph-checkpoint-sqlite
langchain-groq
langchain-community
langchain-core
langchain-openai
pydantic
python-dotenv
tavily-python
crewai
crewai-tools
litellm
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb
sentence-transformers
pypdf
mcp[cli]<2
